.dropdown-toggle {
    width: 100%;
}
.boton-agregar{
    width: 100%;
    display: block;
}
.body{
    background: #e5d7d5;   
}
.carrito{
    display: flex;
    justify-content: flex-end;
}
#iconoCarrito{
cursor: pointer;
}