.dropdown-toggle {
    width: 100%;
}
.boton-agregar{
    width: 100%;
    display: block;
    margin-top: 17px;

}
.body{
    background-image: url(https://img.freepik.com/vector-gratis/fondo-acuarela_220290-34.jpg?size=626&ext=jpg&ga=GA1.2.867424154.1697500800&semt=ais);  
    background-repeat: no-repeat;
    background-size: cover; 
}
.carrito{
    display: flex;
    justify-content: flex-end;
}
#iconoCarrito{
cursor: pointer;
}
.table{
    margin-top: 80px;
}